feat: Adds Authentification methods in HTTP server

**Is your feature request related to a problem? Please describe.**
Currently, the server doesn't have any auth. methods.

**Describe the solution you'd like**
Follow this documentation for implementation :  https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/Authentication

[Basic](https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/Authentication#basic)
See [RFC 7617](https://datatracker.ietf.org/doc/html/rfc7617), base64-encoded credentials. More information below.

[Bearer](https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/Authentication#bearer)
See [RFC 6750](https://datatracker.ietf.org/doc/html/rfc6750), bearer tokens to access OAuth 2.0-protected resources

[Digest](https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/Authentication#digest)
See [RFC 7616](https://datatracker.ietf.org/doc/html/rfc7616). Firefox 93 and later support the SHA-256 algorithm. Previous versions only support MD5 hashing (not recommended).

[HOBA](https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/Authentication#hoba)
See [RFC 7486](https://datatracker.ietf.org/doc/html/rfc7486), Section 3, HTTP Origin-Bound Authentication, digital-signature-based

[Mutual](https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/Authentication#mutual)
See [RFC 8120](https://datatracker.ietf.org/doc/html/rfc8120)

[Negotiate / NTLM](https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/Authentication#negotiate)
See [RFC4599](https://datatracker.ietf.org/doc/html/rfc4559)

[VAPID](https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/Authentication#vapid)
See [RFC 8292](https://datatracker.ietf.org/doc/html/rfc8292)

[SCRAM](https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/Authentication#scram)
See [RFC 7804](https://datatracker.ietf.org/doc/html/rfc7804)

[AWS4-HMAC-SHA256](https://developer.mozilla.org/en-US/docs/Web/HTTP/Guides/Authentication#aws4-hmac-sha256)
See [AWS docs](https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-auth-using-authorization-header.html). This scheme is used for AWS3 server authentication.

Schemes can differ in security strength and in their availability in client or server software.

The "Basic" authentication scheme offers very poor security, but is widely supported and easy to set up. It is introduced in more detail below.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the feature request here.
